body {
    margin: 0;
}

header {
    background-color: #e8c69b;
}

.row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
}


.column {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 50px;
    height: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 1em;
    background-color: #f2ebe1;
    border-radius: 10px;
    border: 1px solid #e8c69b;
}

.race-action {
    color: brown;
    align-self: center;
}

input {
    border-radius: 10px;
    border: 1px solid #e8c69b;
    padding: 0.3em;
}

.item {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}